[user]
	name = Marko Tadic
	email = tadija@me.com
[core]
	excludesfile = ~/.dotfiles/.gitignore
	pager = less -R
[init]
	defaultBranch = main
[pager]
	diff = less -R
	log = less -R
	show = less -R
[push]
	default = simple
[pull]
	rebase = false
[diff]
	tool = opendiff
[merge]
	tool = opendiff
[diff "localizablestrings"]
	textconv = "iconv -f utf-16 -t utf-8"
[color]
	ui = auto
[tig "color"]
	cursor = black cyan bold
	title-blur = white black
	title-focus	= black white bold
[alias]
	merge-to = "!gitMergeTo() { export tmp_branch=`git branch | grep '* ' | tr -d '* '` && git checkout $1 && git merge --no-ff --no-edit $tmp_branch; unset tmp_branch; }; gitMergeTo"
	merge-to-ff = "!gitMergeTo() { export tmp_branch=`git branch | grep '* ' | tr -d '* '` && git checkout $1 && git merge --no-edit $tmp_branch; unset tmp_branch; }; gitMergeTo"
	squash-to = "!gitSquashTo() { export tmp_branch=`git branch | grep '* ' | tr -d '* '` && git checkout $1 && git merge --squash $tmp_branch && git commit --no-edit; unset tmp_branch; }; gitSquashTo"
	rename-tag = "!sh -c 'set -e;git tag $2 $1; git tag -d $1;git push origin :refs/tags/$1;git push --tags' -"
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
